<h1 mat-dialog-title>Hi Username</h1>
<div mat-dialog-content>
	<p>Enter articles data</p>
	<mat-form-field>
		<mat-label>Name: </mat-label>
		<input matInput
           [formControl]="form.get('name')"
           [value]="form.get('name').value"
    >
	</mat-form-field>
	<mat-form-field>
		<mat-label>Text: </mat-label>
		<input matInput
           [formControl]="form.get('text')"
           [value]="form.get('text').value"
    >
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Article type: </mat-label>
		<mat-select [formControl]="form.get('article_type')" name="article_type">
			<mat-option *ngFor="let articleType of articleTypes" [value]="articleType">
				{{articleType}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="form.value" cdkFocusInitial>Ok</button>
</div>
